* {
    padding: 0;
    margin: 20px;
    box-sizing: border-box;
}

body{
    background-color: #ff0000;
    font-family: Arial, sans-serif;
}
h6{
    color: beige;
    margin-top: 50px;
    font-size: 15px;
}
.bh{
    background-color: black;
    height: 6px;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 15px;
}
.ah{
    margin: -20px;
    display: flex;
    font-family: Arial, sans-serif;
    background-color:#ff0000;
}
img{
    height: 300px;
    width: 492px;
}
span{
    font-size: 30px;
}
.ph{
    background-color: black;
    height: 6px;
    width: 200px;
}
.hab{
    margin: -20px;
    display: flex;
    font-family: Arial, sans-serif;
    background-color:#ff0000;
}
.a{
font-size: 70px;
}
.b{
font-size: 70px;
}
.c{
font-size: 70px;
}
.maconha{
    font-size: 70px;
}
.php{
    background-color: black;
    height: 6px;
    width: 300px;
}